In [30]:
from plyer import notification
import requests
import pandas as pd
import sqlite3
from sqlalchemy import create_engine

# Conexão API

In [31]:
url = ('https://brasilapi.com.br/api/ibge/uf/v1')
response = requests.get(url)
response

# Função alerta()

In [32]:
def alerta(response):
    if response.status_code != 200:
        try:
            response.raise_for_status()  
        except Exception as erro:
            notification.notify(
                title=f'Erro: Status {response.status_code}',
                message=f'{erro}',  
                timeout=10
            )

# Tabelas (Data)

In [33]:
if response.status_code == 200:
    data_json = response.json()
    print('Dados Recebidos!')
else:
    alerta(response)

Dados Recebidos!

In [34]:
# tabela 1 - contendo sigla do Estado, nome e detalhamento sobre região.

df_estados = pd.DataFrame(data_json)
df_estados

,id,sigla,nome,regiao
0,11,RO,Rondônia,"{'id': 1, 'sigla': 'N', 'nome': 'Norte'}"
1,12,AC,Acre,"{'id': 1, 'sigla': 'N', 'nome': 'Norte'}"
2,13,AM,Amazonas,"{'id': 1, 'sigla': 'N', 'nome': 'Norte'}"
3,14,RR,Roraima,"{'id': 1, 'sigla': 'N', 'nome': 'Norte'}"
4,15,PA,Pará,"{'id': 1, 'sigla': 'N', 'nome': 'Norte'}"
5,16,AP,Amapá,"{'id': 1, 'sigla': 'N', 'nome': 'Norte'}"
6,17,TO,Tocantins,"{'id': 1, 'sigla': 'N', 'nome': 'Norte'}"
7,21,MA,Maranhão,"{'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}"
8,22,PI,Piauí,"{'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}"
9,23,CE,Ceará,"{'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}"
10,24,RN,Rio Grande do Norte,"{'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}"
11,25,PB,Paraíba,"{'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}"
12,26,PE,Pernambuco,"{'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}"
13,27,AL,Alagoas,"{'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}"
14,28,SE,Sergipe,"{'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}"
15,29,BA,Bahia,"{'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}"
16,31,MG,Minas Gerais,"{'id': 3, 'sigla': 'SE', 'nome': 'Sudeste'}"
17,32,ES,Espírito Santo,"{'id': 3, 'sigla': 'SE', 'nome': 'Sudeste'}"
18,33,RJ,Rio de Janeiro,"{'id': 3, 'sigla': 'SE', 'nome': 'Sudeste'}"
19,35,SP,São Paulo,"{'id': 3, 'sigla': 'SE', 'nome': 'Sudeste'}"
20,41,PR,Paraná,"{'id': 4, 'sigla': 'S', 'nome': 'Sul'}"
21,42,SC,Santa Catarina,"{'id': 4, 'sigla': 'S', 'nome': 'Sul'}"
22,43,RS,Rio Grande do Sul,"{'id': 4, 'sigla': 'S', 'nome': 'Sul'}"
23,50,MS,Mato Grosso do Sul,"{'id': 5, 'sigla': 'CO', 'nome': 'Centro-Oeste'}"
24,51,MT,Mato Grosso,"{'id': 5, 'sigla': 'CO', 'nome': 'Centro-Oeste'}"
25,52,GO,Goiás,"{'id': 5, 'sigla': 'CO', 'nome': 'Centro-Oeste'}"
26,53,DF,Distrito Federal,"{'id': 5, 'sigla': 'CO', 'nome': 'Centro-Oeste'}"

In [35]:
url = ('https://brasilapi.com.br/api/pix/v1/participants')
response = requests.get(url)
response

In [36]:
if response.status_code == 200:
    data_json = response.json()
    print('Dados Recebidos!')
else:
    alerta(response)

Dados Recebidos!

In [37]:
# Table 2 - contendo informações de transações realizadas via pix
df_pix = pd.DataFrame(data_json)
df_pix

,ispb,nome,nome_reduzido,modalidade_participacao,tipo_participacao,inicio_operacao
0,00000000,BANCO DO BRASIL S.A.,BCO DO BRASIL S.A.,PDCT,DRCT,2020-11-03T09:30:00.000Z
1,00000208,BRB - BANCO DE BRASILIA S.A.,BRB - BCO DE BRASILIA S.A.,PDCT,DRCT,2020-11-03T09:30:00.000Z
2,00068987,COOPERATIVA DE CRÉDITO ARACREDI LTDA. - SICOOB...,CC ARACREDI LTDA.,PDCT,IDRT,2020-11-03T09:30:00.000Z
3,00075847,COOPERATIVA DE CRÉDITO UNICRED CENTRO-SUL LTDA...,CC UNICRED CENTRO-SUL LTDA - UNICRED CENTRO-SUL,PDCT,IDRT,2020-11-03T09:30:00.000Z
4,00106180,CENTRAL DAS COOPERATIVAS DE CRÉDITO DOS ESTADO...,"CCC DOS EST DE MT, MS E MUN DE CACOAL/RO",PDCT,IDRT,2020-11-03T09:30:00.000Z
...,...,...,...,...,...,...
830,95213211,"COOPERATIVA DE CRéDITO, POUPANçA E INVESTIMENT...",COOP SICREDI CAMINHO DAS ÁGUAS RS,PDCT,IDRT,2020-11-03T09:30:00.000Z
831,95424891,"COOPERATIVA DE CRÉDITO, POUPANÇA E INVESTIMENT...",COOP SICREDI VALE DO RIO PARDO,PDCT,IDRT,2020-11-03T09:30:00.000Z
832,95594941,"COOPERATIVA DE CRÉDITO, POUPANÇA E INVESTIMENT...",COOP SICREDI REG CENTRO RS/MG,PDCT,IDRT,2020-11-03T09:30:00.000Z
833,97259253,COOPERATIVA E ECONOMIA E CRÉDITO MÚTUO DOS MÉD...,CECM MÉDICOS PLANALTO MÉDIO RS - CREDISIS/CRED...,PDCT,IDRT,2021-10-04T12:53:10.567Z
834,97489280,"COOPERATIVA DE CRÉDITO, POUPANÇA E INVESTIMENT...",COOP SICREDI INTEGRAÇÃO BAHIA,PDCT,IDRT,2020-11-03T09:30:00.000Z

In [38]:
url = ('https://brasilapi.com.br/api/cvm/corretoras/v1')
response = requests.get(url)
response

In [39]:
if response.status_code == 200:
    data_json = response.json()
    print('Dados Recebidos!')
else:
    alerta(response)

Dados Recebidos!

In [40]:
# Table 3 - Dados de corretoras no BR
df_corretora = pd.DataFrame(data_json)
df_corretora

,cnpj,type,nome_social,nome_comercial,status,email,telefone,cep,pais,uf,municipio,bairro,complemento,logradouro,data_patrimonio_liquido,valor_patrimonio_liquido,codigo_cvm,data_inicio_situacao,data_registro
0,76621457000185,CORRETORAS,4UM DTVM S.A.,4UM INVESTIMENTOS,CANCELADA,controle@4um.com.br,33519966,80420210,BRASIL,PR,CURITIBA,CENTRO,4º ANDAR,R. VISCONDE DO RIO BRANCO 1488,2005-12-31,4228660.18,2275,2006-10-05,1968-01-15
1,33817677000176,CORRETORAS,ABC BRASIL DISTRIBUIDORA DE TÍTULOS E VALORES ...,ABC BRASIL DTVM,CANCELADA,complianceregulatorio@abcbrasil.com.br,31702172,1453000,,SP,SÃO PAULO,ITAIM BIBI,2º ANDAR,"AV. CIDADE JARDIM, 803",2002-12-31,0.00,3514,2002-10-14,2002-10-14
2,10664027000132,CORRETORAS,ABERTURA CCVM LTDA,ABERTURA CCVM LTDA,CANCELADA,,,50010240,BRASIL,PE,RECIFE,,,R DO IMP.D.PEDRO II 239/CJ.102,1989-12-31,5995252.29,329,1990-06-12,1986-07-08
3,44527444000155,CORRETORAS,ABN AMRO CLEARING CORRETORA DE T-TULOS E VALOR...,,EM FUNCIONAMENTO NORMAL,canal.comunicacao@br.abnamro.com,30737417,4551010,,SP,SÃO PAULO,VILA OLIMPIA,"11¦ ANDAR, CJ. 111","RUA FIDÛNCIO RAMOS, N¦ 302, TORRE B",2023-12-31,11122779.75,3794,2022-06-20,2022-06-20
4,33819590000138,CORRETORAS,AÇÃO S.A. CORRETORA DE VALORES E CÂMBIO,ACAO SA CVC,CANCELADA,,5095755,20040040,BRASIL,RJ,RIO DE JANEIRO,CENTRO,,"PRAÇA OLAVO BILAC, 28/ SL. 608",2000-12-31,291862.38,1112,2001-04-11,1968-04-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,01170892000131,CORRETORAS,VOTORANTIM CTVM LTDA,VOTORANTIM,CANCELADA,demandasregulatorias@bancovotorantim.com.br,51711894,4794000,BRASIL,SP,SÃO PAULO,VL.GERTRUDES,TORRE A-14º ANDAR,"AV DAS NAÇÕES UNIDAS, 14.171",2017-12-31,266791832.77,3166,2018-08-27,1996-03-15
370,61769790000169,CORRETORAS,WALPIRES S/A CCTVM,WALPIRES S/A CCTVM,CANCELADA,andre@walpires.com.br,28087065,1452002,BRASIL,SP,SÃO PAULO,JARDIM PAULISTANO,1309 - 9ºANDAR,AVENIDA BRIGADEIRO FARIA LIMA,2017-12-31,7464373.90,1902,2019-09-24,1967-09-20
371,92875780000131,CORRETORAS,WARREN CORRETORA DE VALORES MOBILIÁRIOS E CÂMB...,WARREN CORRETORA,EM FUNCIONAMENTO NORMAL,juridico@warren.com.br,32372273,90035191,,RS,PORTO ALEGRE,BOM FIM,2º ANDAR,"AVENIDA OSVALDO ARANHA, 720",2023-12-31,20672910.31,2534,1967-12-06,1967-12-06
372,24543688000114,CORRETORAS,WARREN CORRETORA DE VALORES MOBILIÁRIOS E CÂMB...,PERFIL,CANCELADA,,2249022,52061540,BRASIL,PE,RECIFE,CASA FORTE,,"AV.17 DE AGOSTO,2579",1996-12-31,608260.02,2658,1997-02-21,1989-11-14
373,02332886000104,CORRETORAS,XP INVESTIMENTOS CCTVM S.A.,XP INVESTIMENTOS,EM FUNCIONAMENTO NORMAL,fabricio.almeida@xpi.com.br,30272237,22440032,,RJ,RIO DE JANEIRO,LEBLON,5º ANDAR,AVENIDA ATAULFO DE PAIVA 153,2023-12-31,8405739266.66,3247,1998-02-10,1997-12-05

# Tratando os Dados

## df_estados

In [41]:
df_estados.isnull().sum()

id        0
sigla     0
nome      0
regiao    0
dtype: int64

In [42]:
# Agragando os dados da coluna ['regioes'] ao DF original.


df_regioes = pd.json_normalize(df_estados['regiao'])
df_regioes.columns = ['id_regiao', 'sigla_regiao', 'nome_regiao'] # Renomeia as colunas, evitando conflito/duplicidade.
df_estados_agg = pd.concat([df_estados, df_regioes], axis=1).drop('regiao', axis='columns').sort_values(by=['nome']) # Concatenando o df regioes ao DataFrame original (df_estados), e ordenando pelo nome do Estado.

In [43]:

# Visualizando o resultado final
df_estados_agg

    id sigla                 nome  id_regiao sigla_regiao   nome_regiao
1   12    AC                 Acre          1            N         Norte
13  27    AL              Alagoas          2           NE      Nordeste
5   16    AP                Amapá          1            N         Norte
2   13    AM             Amazonas          1            N         Norte
15  29    BA                Bahia          2           NE      Nordeste
9   23    CE                Ceará          2           NE      Nordeste
26  53    DF     Distrito Federal          5           CO  Centro-Oeste
17  32    ES       Espírito Santo          3           SE       Sudeste
25  52    GO                Goiás          5           CO  Centro-Oeste
7   21    MA             Maranhão          2           NE      Nordeste
24  51    MT          Mato Grosso          5           CO  Centro-Oeste
23  50    MS   Mato Grosso do Sul          5           CO  Centro-Oeste
16  31    MG         Minas Gerais          3           SE       Sudeste
20  41    PR               Paraná          4            S           Sul
11  25    PB              Paraíba          2           NE      Nordeste
4   15    PA                 Pará          1            N         Norte
12  26    PE           Pernambuco          2           NE      Nordeste
8   22    PI                Piauí          2           NE      Nordeste
10  24    RN  Rio Grande do Norte          2           NE      Nordeste
22  43    RS    Rio Grande do Sul          4            S           Sul
18  33    RJ       Rio de Janeiro          3           SE       Sudeste
0   11    RO             Rondônia          1            N         Norte
3   14    RR              Roraima          1            N         Norte
21  42    SC       Santa Catarina          4            S           Sul
14  28    SE              Sergipe          2           NE      Nordeste
19  35    SP            São Paulo          3           SE       Sudeste
6   17    TO            Tocantins          1            N         Norte

## df_pix

In [44]:
df_pix.isnull().sum()

ispb                       0
nome                       0
nome_reduzido              0
modalidade_participacao    0
tipo_participacao          0
inicio_operacao            0
dtype: int64

In [45]:
# Tratamento de datas:

df_pix['inicio_operacao'] = pd.to_datetime(df_pix['inicio_operacao'])
df_pix['data_operacao'] = df_pix['inicio_operacao'].dt.date # Segregando a coluna com data
df_pix['hora_operacao'] = df_pix['inicio_operacao'].dt.strftime('%H:%M') # Segregando a coluna com hora e minuto
df_pix = df_pix.drop(columns=['inicio_operacao'])

In [46]:

# DF_Pix final
df_pix

,ispb,nome,nome_reduzido,modalidade_participacao,tipo_participacao,data_operacao,hora_operacao
0,00000000,BANCO DO BRASIL S.A.,BCO DO BRASIL S.A.,PDCT,DRCT,2020-11-03,09:30
1,00000208,BRB - BANCO DE BRASILIA S.A.,BRB - BCO DE BRASILIA S.A.,PDCT,DRCT,2020-11-03,09:30
2,00068987,COOPERATIVA DE CRÉDITO ARACREDI LTDA. - SICOOB...,CC ARACREDI LTDA.,PDCT,IDRT,2020-11-03,09:30
3,00075847,COOPERATIVA DE CRÉDITO UNICRED CENTRO-SUL LTDA...,CC UNICRED CENTRO-SUL LTDA - UNICRED CENTRO-SUL,PDCT,IDRT,2020-11-03,09:30
4,00106180,CENTRAL DAS COOPERATIVAS DE CRÉDITO DOS ESTADO...,"CCC DOS EST DE MT, MS E MUN DE CACOAL/RO",PDCT,IDRT,2020-11-03,09:30
...,...,...,...,...,...,...,...
830,95213211,"COOPERATIVA DE CRéDITO, POUPANçA E INVESTIMENT...",COOP SICREDI CAMINHO DAS ÁGUAS RS,PDCT,IDRT,2020-11-03,09:30
831,95424891,"COOPERATIVA DE CRÉDITO, POUPANÇA E INVESTIMENT...",COOP SICREDI VALE DO RIO PARDO,PDCT,IDRT,2020-11-03,09:30
832,95594941,"COOPERATIVA DE CRÉDITO, POUPANÇA E INVESTIMENT...",COOP SICREDI REG CENTRO RS/MG,PDCT,IDRT,2020-11-03,09:30
833,97259253,COOPERATIVA E ECONOMIA E CRÉDITO MÚTUO DOS MÉD...,CECM MÉDICOS PLANALTO MÉDIO RS - CREDISIS/CRED...,PDCT,IDRT,2021-10-04,12:53
834,97489280,"COOPERATIVA DE CRÉDITO, POUPANÇA E INVESTIMENT...",COOP SICREDI INTEGRAÇÃO BAHIA,PDCT,IDRT,2020-11-03,09:30

## df_corretora

In [47]:
df_corretora.isnull().sum()

cnpj                        0
type                        0
nome_social                 0
nome_comercial              0
status                      0
email                       0
telefone                    0
cep                         0
pais                        0
uf                          0
municipio                   0
bairro                      0
complemento                 0
logradouro                  0
data_patrimonio_liquido     0
valor_patrimonio_liquido    0
codigo_cvm                  0
data_inicio_situacao        0
data_registro               0
dtype: int64

In [48]:
# Conversao dos campos de data para datetime
df_corretora['data_patrimonio_liquido'] = pd.to_datetime(df_corretora['data_patrimonio_liquido'], errors='coerce')
df_corretora['data_inicio_situacao'] = pd.to_datetime(df_corretora['data_inicio_situacao'], errors='coerce')
df_corretora['data_registro'] = pd.to_datetime(df_corretora['data_registro'], errors='coerce')
df_corretora

,cnpj,type,nome_social,nome_comercial,status,email,telefone,cep,pais,uf,municipio,bairro,complemento,logradouro,data_patrimonio_liquido,valor_patrimonio_liquido,codigo_cvm,data_inicio_situacao,data_registro
0,76621457000185,CORRETORAS,4UM DTVM S.A.,4UM INVESTIMENTOS,CANCELADA,controle@4um.com.br,33519966,80420210,BRASIL,PR,CURITIBA,CENTRO,4º ANDAR,R. VISCONDE DO RIO BRANCO 1488,2005-12-31,4228660.18,2275,2006-10-05,1968-01-15
1,33817677000176,CORRETORAS,ABC BRASIL DISTRIBUIDORA DE TÍTULOS E VALORES ...,ABC BRASIL DTVM,CANCELADA,complianceregulatorio@abcbrasil.com.br,31702172,1453000,,SP,SÃO PAULO,ITAIM BIBI,2º ANDAR,"AV. CIDADE JARDIM, 803",2002-12-31,0.00,3514,2002-10-14,2002-10-14
2,10664027000132,CORRETORAS,ABERTURA CCVM LTDA,ABERTURA CCVM LTDA,CANCELADA,,,50010240,BRASIL,PE,RECIFE,,,R DO IMP.D.PEDRO II 239/CJ.102,1989-12-31,5995252.29,329,1990-06-12,1986-07-08
3,44527444000155,CORRETORAS,ABN AMRO CLEARING CORRETORA DE T-TULOS E VALOR...,,EM FUNCIONAMENTO NORMAL,canal.comunicacao@br.abnamro.com,30737417,4551010,,SP,SÃO PAULO,VILA OLIMPIA,"11¦ ANDAR, CJ. 111","RUA FIDÛNCIO RAMOS, N¦ 302, TORRE B",2023-12-31,11122779.75,3794,2022-06-20,2022-06-20
4,33819590000138,CORRETORAS,AÇÃO S.A. CORRETORA DE VALORES E CÂMBIO,ACAO SA CVC,CANCELADA,,5095755,20040040,BRASIL,RJ,RIO DE JANEIRO,CENTRO,,"PRAÇA OLAVO BILAC, 28/ SL. 608",2000-12-31,291862.38,1112,2001-04-11,1968-04-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,01170892000131,CORRETORAS,VOTORANTIM CTVM LTDA,VOTORANTIM,CANCELADA,demandasregulatorias@bancovotorantim.com.br,51711894,4794000,BRASIL,SP,SÃO PAULO,VL.GERTRUDES,TORRE A-14º ANDAR,"AV DAS NAÇÕES UNIDAS, 14.171",2017-12-31,266791832.77,3166,2018-08-27,1996-03-15
370,61769790000169,CORRETORAS,WALPIRES S/A CCTVM,WALPIRES S/A CCTVM,CANCELADA,andre@walpires.com.br,28087065,1452002,BRASIL,SP,SÃO PAULO,JARDIM PAULISTANO,1309 - 9ºANDAR,AVENIDA BRIGADEIRO FARIA LIMA,2017-12-31,7464373.90,1902,2019-09-24,1967-09-20
371,92875780000131,CORRETORAS,WARREN CORRETORA DE VALORES MOBILIÁRIOS E CÂMB...,WARREN CORRETORA,EM FUNCIONAMENTO NORMAL,juridico@warren.com.br,32372273,90035191,,RS,PORTO ALEGRE,BOM FIM,2º ANDAR,"AVENIDA OSVALDO ARANHA, 720",2023-12-31,20672910.31,2534,1967-12-06,1967-12-06
372,24543688000114,CORRETORAS,WARREN CORRETORA DE VALORES MOBILIÁRIOS E CÂMB...,PERFIL,CANCELADA,,2249022,52061540,BRASIL,PE,RECIFE,CASA FORTE,,"AV.17 DE AGOSTO,2579",1996-12-31,608260.02,2658,1997-02-21,1989-11-14
373,02332886000104,CORRETORAS,XP INVESTIMENTOS CCTVM S.A.,XP INVESTIMENTOS,EM FUNCIONAMENTO NORMAL,fabricio.almeida@xpi.com.br,30272237,22440032,,RJ,RIO DE JANEIRO,LEBLON,5º ANDAR,AVENIDA ATAULFO DE PAIVA 153,2023-12-31,8405739266.66,3247,1998-02-10,1997-12-05

# Conectando ao BD

In [49]:
# Cria uma conexão com o banco de dados SQLite
engine = create_engine('sqlite:///projeto_final.db')

# Adiciona o DataFrame df_estados_agg à tabela 'estados' ao BD
df_estados_agg.to_sql('estados', con=engine, if_exists='replace', index=False)

# Adiciona o DataFrame df_pix à tabela 'pix' ao BD
df_pix.to_sql('pix', con=engine, if_exists='replace', index=False)

# Adiciona o DataFrame df_corretora à tabela 'corretora' ao BD
df_corretora.to_sql('corretora', con=engine, if_exists='replace', index=False)

print("Dados adicionados ao banco de dados com sucesso!")

Dados adicionados ao banco de dados com sucesso!

In [50]:
# Conectando ao banco
conn = sqlite3.connect('projeto_final.db')
cursor = conn.cursor()

In [51]:
# Realizando leitura e retorno.
cursor.execute('''
SELECT * FROM estados WHERE sigla_regiao LIKE ('NE');
''')
leitura_exemplo = cursor.fetchall()
print(leitura_exemplo)

[(27, 'AL', 'Alagoas', 2, 'NE', 'Nordeste'), (29, 'BA', 'Bahia', 2, 'NE', 'Nordeste'), (23, 'CE', 'Ceará', 2, 'NE', 'Nordeste'), (21, 'MA', 'Maranhão', 2, 'NE', 'Nordeste'), (25, 'PB', 'Paraíba', 2, 'NE', 'Nordeste'), (26, 'PE', 'Pernambuco', 2, 'NE', 'Nordeste'), (22, 'PI', 'Piauí', 2, 'NE', 'Nordeste'), (24, 'RN', 'Rio Grande do Norte', 2, 'NE', 'Nordeste'), (28, 'SE', 'Sergipe', 2, 'NE', 'Nordeste')]

In [52]:
conn.close() # Encerrando a conexão com o banco

In [54]:
pip freeze > requirements.txt

Note: you may need to restart the kernel to use updated packages.